.Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 18px 30px;
  box-sizing: border-box;
}

.Logo {
  margin: 0px;
  width: 220px;
  cursor: pointer;
}

.LoginBox {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 20px;
}

.LoginButton {
  color: #2276DC;
}