.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  padding: 18px 30px;
  box-sizing: border-box;
  background-color: white;
  z-index: 40;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Logo {
  margin: 0px;
  width: 220px;
  cursor: pointer;
}

.LoginBox {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 20px;
}

.LoginButton {
  color: #2276DC;
  display: flex;
  align-items: center;
  line-height: 22px;
  cursor: pointer;
}

.UserInfo > span {
  margin-right: 10px;
}

.UserRole > span {
  color: #2276DC;
}