.Header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  padding: 18px 30px;
  box-sizing: border-box;
  background-color: var(--NAVY);
  z-index: 40;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

.Logo {
  margin: 0px;
  width: 220px;
  height: 35px;
  cursor: pointer;
}

.LoginBox {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 20px;
}
.userName {
  color: var(--PRIMARY);
}

.UserInfo {
  margin-right: 10px;
}