.helpdeskContainer {
  overflow-x: hidden;
}

.faqContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8% 0;
  gap: 2rem;
  margin-top: 3rem;
}

.faqContent {
  width: 100%;
  display: flex;
  justify-content: center;
}

.faqWrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  width: 70vw;
}

.faqItem {
  width: 32%;
  height: 5.5vh;
  border: 1px solid var(--GRAY_400);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator {
  height: 1px;
  width: 80vw;
  margin-left: 10vw;
  background-color: var(--GRAY_400);
}

.manualContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8% 0;
  gap: 2rem;
  border-top: 1px solid var(--GRAY_400);
}

.manualWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  width: 70vw;
}

.manualItem {
  width: 32%;
  height: 5.7vh;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--NAVY);
  color: var(--WHITE);
}

.questionContainer {
  background-color: var(--BACKGROUND);
  padding: 3rem 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionTitle {
  width: 100%;
}

.questionWrap {
  background-color: var(--WHITE);
  width: 80%;
  height: 75vh;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questionContent {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}

.questionHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2rem;
}

.category {
  width: fit-content;
}

.searchBox {
  width: fit-content;
}

.categoryItem {
  cursor: pointer;
}

.questionTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
}

.tableTitle {
  border-bottom: 1px solid var(--BLACK);
}

.tableTitle th {
  height: 5vh;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid var(--BLACK);
}

.tableBody {
  border-collapse: collapse;
  border-bottom: 1px solid var(--BLACK);
}

.tableBody tr {
  height: 7vh;
  border-collapse: collapse;
  border-bottom: 1px solid var(--BLACK);
}

.tableBody tr td {
  text-align: center;
  color: var(--GRAY_600);
  font-weight: bold;
}

.tableSeparator {
  height: 3px;
  width: 100%;
  background-color: var(--BLACK);
}

.postModal {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}

.postTitle {
  display: flex;
  align-items: end;
  margin-bottom: 1rem;
  justify-content: space-between;
  gap: 1rem;
}

/* 드롭다운 */
.dropdown {
  position: relative;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.dropdownLabel {
  padding: 0.3rem 0;
  border: 1px solid var(--GRAY_300);
  border-radius: 0.3rem;
  cursor: pointer;
  align-items: center;
  width: 100%;
}

.dropdownContent {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--WHITE);
  border: 1px solid var(--GRAY_300);
  z-index: 1;
}

.dropdownItem {
  padding: 0.5rem;
  cursor: pointer;
}

.dropdownItem:hover {
  background: var(--GRAY_100);
}

/* 댓글 */
.detailCommentContent {
  border-radius: 0.2rem;
  border: 1px solid var(--GRAY_300);
  padding: 0.3rem;
}

.detailCommentAuthor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailCommentIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  opacity: 0.5;
  height: 80%;
}

.questionAnswerContainer {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
  overflow-y: scroll;
  height: 95%;
}

.questionAnswerBody {
  margin-bottom: 1rem;
}

.iconWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 1rem;
  opacity: 0.5;
}

.questionPostBox {
  width: 100%;
  gap: 2rem;
  display: flex;
  justify-content: space-between;
}
