.Modal {
  top: 50%;
  left: 50%;
  padding: 60px;
  box-sizing: border-box;
  width: 580px;
  height: 90vh;
  transform: translate(-50%, -50%);
  z-index: 100;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.headerBox {
  display: flex;
  width: 100%;
  padding: 8.5px 0px;
}

.cancelButton {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-left: auto;
}

.titleInfoBox {
  display: grid;
  flex-direction: column;
  gap: 16px;
  margin: 48px 0px 67px;
  width: 100%;
  text-align: center;
}

.upLine {
  font-size: 26px;
  font-weight: bold;
  line-height: 38px;
}

.downLine {
  font-size: 16px;
  line-height: 24px;
  color: rgb(110, 110, 110);
}

.downLine > p {
  margin: 0;
}

.userSelectBox {
  width: 360px;
  height: 140px;
}

.userSelectBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 10px;
  height: 300px;
}

.selectButton {
  width: 42%;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: var(--shadow-LIGHT_3);
  gap: 30px;
}

.selectButton strong {
  font-size: 22px;
}

.selectButton > img {
  width: 100px;
  height: 100px;
}

.loginInputSection {
  width: 360px;
  margin-bottom: 39px; 
}

.modalSubTitle {
  font-weight: var(--font-lg_medium-fontweight);
  font-size: var(--font-lg_medium-fontsize);
  line-height: var(--font-lg_medium-lineheight);
  font-family: var(--font-lg_medium-fontfamily);
  margin: 0 0 10px;
}

.modalInput {
  border: none;
  border-bottom: 1px solid #dfdfdf;
  box-sizing: border-box;
  font-family: var(--font-lg_medium-fontfamily);
  font-size: var(--font-lg_medium-fontsize);
  line-height: 24px;
  outline: none;
  padding: 6px 0;
  width: 100%;
}

.resetBtnImg {
  position: absolute;
  right: 0px;
}

.loginInputSection > div {
  display: flex;
  align-items: center;
  position: relative;
}

.subBtnBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subBtnBox span {
  font-size: 15px;
  line-height: 22px;
  color: rgb(34, 118, 220);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.finding {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(110, 110, 110);
}

.loginButtonContent {
  margin: 40px auto 0.5px;
  width: 360px;
  display: flex;
}

.loginButtonContent > div {
  width: 100%;
}

.errorText {
  padding: 5px 0px;
  font-size: 12px;
  line-height: 18px;
  color: rgb(200, 59, 56);
  font-family: var(--font-lg_medium-fontfamily);
}


/* 자동완성 시 배경색과 외곽선 없애기 */
input:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

@media (min-width: 1140px) {
  .subBtnBox {
    width: 360px;
  }
}

.loginButtonContent > button {
  width: 100%;
  font-size: 16px;
}