.StepTitleBox {
  height: 50px;
  display: flex;
  gap: 30px;
}

.StepTitle {
  font-size: 24px;
  font-weight: bold;
}

.StepInner {
  flex: 1;
}

.StepFooter {
  display: flex;
  justify-content: flex-end;
}

.StepVideo {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.StepVideoInner {
  height: 300px;
  object-fit: cov;
}

.buttonContainer {
  margin-top: 20px;
}

.photoContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.photo {
  width: 200px;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}

.similarityResult {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  text-align: center;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.loadingSpinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-left: 43.5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingMessage {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
  text-align: center;
}

.similarityResult {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  text-align: center;
}

.statusBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: 50%;
  padding-top: 20px;
}

.statusItem {
  flex: 1;
  font-size: 18px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.InnerInputAuth {
  display: flex;
  gap: 15px;
}

.InnerInputAuth button {
  width: 120px;
  background-color: var(--NAVY);
  border-radius: 10px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.InnerContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.test1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.UrlContainer {
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.InnerInputAuth > input {
  border: none;
  border-bottom: 1px solid var(--GRAY_400);
  transition: border-color 0.3s ease;
  font-size: 18px;
  width: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  /* 입력중일때는 PRIMARY로 바꾸기 */
}

.InnerInputAuth > input:focus {
  border-bottom: 1.5px solid var(--PRIMARY); /* Focus 시 PRIMARY로 변경 */
}

.UrlContainer > input {
  width: 80%;
  height: 40px;
  border: none;
  border-bottom: 1.5px solid var(--GRAY_400); /* 기본 색상 */
  font-size: 20px; /* 기본 글자 크기 */
  outline: none;
  transition: border-color 0.3s ease;
  padding-bottom: 10px;
  padding-left: 10px;
}

.UrlContainer > input:focus {
  border-bottom: 1.5px solid var(--PRIMARY); /* Focus 시 PRIMARY로 변경 */
}

.loadingSpinner {
  width: 15px;
  height: 15px;
  border: 3px solid rgba(0, 0, 0, 0.1); /* 얇은 회색 테두리 */
  border-top: 4px solid white; /* 위쪽은 짙은 회색 */
  border-radius: 50%; /* 원형 */
  animation: spin 1s linear infinite; /* 회전 애니메이션 */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.buttonTest {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ButtonsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* 신분증 사진 */
.IDcardLine {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 70%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--PRIMARY);
  box-sizing: border-box;
  pointer-events: none;
  z-index: 100;
}

.VideoContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.goBack {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
