.StepTitleBox {
  height: 50px;
  display: flex;
  gap: 30px;
}

.StepTitle {
  font-size: 24px;
  font-weight: bold;
}

.StepInner {
  flex: 1;
}

.StepFooter {
  display: flex;
  justify-content: flex-end;
}

.Step8Video {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.Step8VideoInner {
  height: 300px;
  object-fit: contain;
}

.buttonContainer {
  margin-top: 20px;
}